# Ignore CSV and Text files
*.csv
*.txt

# Ignore PowerShell data files
*.ps1xml
*.pssc
*.psrc

# Ignore PowerShell test results
*.trx
*.log

# Ignore PowerShell module manifest files
*.psd1

# Ignore compiled binaries
*.dll
*.exe

# Ignore user-specific files
*.user
*.vs

# Ignore temporary files
*.tmp
*.temp
*.bak

# Ignore system files
.DS_Store
Thumbs.db

.vscode